{% extends 'base.html.twig' %}

{% block title %} Mails {% endblock %}

{% block main %}

<div class="container main body-content span=8 offset=2">
    <div class="im-centered">
        <div class="row">
            <div class="col-md-12 col-xs-12 col-centered">
                <div class="row">
                        <fieldset>
                        <legend>Mail</legend>
                            <p style="margin-bottom: 20px">About: {{ mail.about }}</p>

                            <div style="margin-bottom: 20px">Content: {{ mail.content }}</div>

                            <div>From: {{ mail.email }}</div>
                    <br>
                    <a class="btn btn-default" href="{{ path('mail_box') }}">Back</a>
                    <br>
                    <br>
                    <div>
                        <a class="btn btn-default delete-post">Add message</a>
                        <div class="modal fade">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title text-center">Send message</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body text-center">
                                        <div class="im-centered">
                                            <form id="contactForm" method="post" class="form-horizontal editMessage">
                                                <div class="form-group">
                                                    <label class="col-xs-3 control-label">Your Email</label>
                                                    <div class="col-xs-6">
                                                        <input type="text" class="form-control"
                                                               name="message[email]" value="{{ user.email }}"/>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-xs-3 control-label">Send To</label>
                                                    <div class="col-xs-6">
                                                        <input type="text" class="form-control" name="emailTo"
                                                               value="{{ mail.email }}"/>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-xs-3 control-label">About</label>
                                                    <div class="col-xs-6">
                                                        <input type="text" class="form-control"
                                                               name="message[about]"/>
                                                    </div>
                                                </div>

                                                <div class="form-group">
                                                    <label class="col-xs-3 control-label">Message</label>
                                                    <div class="col-xs-6">
                                                    <textarea class="form-control" name="message[content]" rows="5"></textarea>
                                                    </div>
                                                </div>
                                                <!-- #messages is where the messages are placed inside -->
                                                <div class="form-group">
                                                    <div class="col-xs-9 col-xs-offset-3">
                                                        <div id="messages"></div>
                                                    </div>
                                                </div>
                                                <br>
                                                <div class="form-group">
                                                    <div class="col-xs-8 col-xs-offset-4">
                                                        <button type="submit"
                                                                class="btn btn-default contact_send">Send
                                                        </button>
                                                    </div>
                                                </div>

                                                {{ form_row(form._token) }}

                                            </form>
                                        </div>

                                    </div>
                                    <div class="modal-footer">
                                        {#<a href="{{ path('message_delete', {'id': mail.id}) }}">#}
                                            {#<button type="button" class="btn btn-warning">Delete</button>#}
                                        {#</a>#}
                                        <button type="button" class="btn btn-secondary" data-dismiss="modal">Cancel</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <a class="btn btn-default delete-post">Delete message</a>
                        <div class="modal fade">
                            <div class="modal-dialog" role="document">
                                <div class="modal-content">
                                    <div class="modal-header">
                                        <h4 class="modal-title">Delete message</h4>
                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                            <span aria-hidden="true">&times;</span>
                                        </button>
                                    </div>
                                    <div class="modal-body">
                                        <h5>Are you sure your want to delete this message ?</h5>
                                    </div>
                                    <div class="modal-footer">
                                        <a href="{{ path('message_delete', {'id': mail.id}) }}">
                                            <button type="button" class="btn btn-danger">Yes</button>
                                        </a>
                                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                                    </div>
                                </div>
                            </div>
                        </div>
                    </div>
                </fieldset>
            </div>
        </div>
    </div>
</div>
</div>

{% endblock %}