{% extends 'base.html.twig' %}

{% block title %} My profile {% endblock %}

{#{% block body_id 'user_profile' %}#}

{% block main %}

    <div class="container main">
        <div class="row">
            <div class="col-md-9">
                <div class="row row_custom">
                    <div class="col-md-12">
                        <a href="{{ path('user_profile', {'id': user.id}) }}">
                            <img src="{{ asset('uploads/images/users/' ~ user.image ) }}" width="350px" height="370px"/>
                        </a>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    {#<hr class="line-user">#}
                    <div class="row">
                        <div class="col-md-6">
                            <h3 class="profile-h3"><span class="slash">\</span> About me</h3>
                            <hr class="line-user">
                            <div class="col-md-12">
                                <p> {{ user.fullName }}</p>
                                <p> {{ user.email }}</p>
                                <p>{{ user.info }}</p>
                                <a href="{{ path('mail_box') }}">
                                    <i class="glyphicon glyphicon-envelope" style="color: #9ec747;">({{ messageCount }})</i>
                                </a>
                                <br>
                                <br>
                                <p><a class="btn btn-default" href="{{ path('additional_info') }}">Account settings</a></p>
                            </div>
                        </div>
                        <div class="col-md-6">
                            <h3 class="profile-h3"><span class="slash">\</span> Social life</h3>
                            <hr class="line-user">
                            <div class="col-md-12">
                                <h5 class="follow_me">Follow me</h5>
                                <ul class="socialSharing_icons">
                                    <li><a href="https://www.facebook.com/" title="" ><i class="fa entypo-facebook" aria-hidden="true"></i></a></li>
                                    <li><a href="https://twitter.com/twitter?lang=en/" title="" ><i class="fa entypo-twitter" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.instagram.com/" title="" ><i class="fa entypo-instagrem" aria-hidden="true"></i></a></li>
                                    <li><a href="https://www.pinterest.com/" title="" ><i class="fa entypo-pinterest" aria-hidden="true"></i></a></li>
                                </ul>
                            </div>
                        </div>
                    </div>
                </div>
            </div>
            <div class="row">
                <div class="col-md-12">
                    <h3 class="profile-h3"><span class="slash">\</span> Publications by me</h3>
                    {#{% if (app.getUser() or app.getUser().isAdmin()) %}#}
                    <div class="col-md-12">
                        <a class="btn btn-default btn-xs" style="padding: 3px" href="{{ path('publication_create') }}">
                            Create publication
                        </a>
                    </div>
                    <br>
                    <br>
                    {#{% endif %}#}
                    <hr class="line-user">
                    <div class="container body-content">
                        <div class="row">
                            {% for publication in publications %}
                                {% if (app.getUser().isAuthor(publication)) %}
                                    <div class="col-md-4">
                                        <a href="{{ path('publication_view', {'id': publication.id}) }}">
                                            <h4 class="black">{{ publication.title }}</h4>
                                        </a>
                                        <a class="btn btn-default btn-xs" href="{{ path('publication_edit', {'id' :  publication.id}) }}">Edit</a>
                                        <a class="btn btn-default btn-xs delete-post">Delete</a>
                                        <div class="modal fade">
                                            <div class="modal-dialog" role="document">
                                                <div class="modal-content">
                                                    <div class="modal-header">
                                                        <h4 class="modal-title">Delete publication</h4>
                                                        <button type="button" class="close" data-dismiss="modal" aria-label="Close">
                                                            <span aria-hidden="true">&times;</span>
                                                        </button>
                                                    </div>
                                                    <div class="modal-body">
                                                        <h5> Are you sure your want to delete this publication ?</h5>
                                                    </div>
                                                    <div class="modal-footer">
                                                        <a href="{{ path('publication_confirm_delete', {'id': publication.id}) }}"><button type="button" class="btn btn-danger">Yes</button></a>
                                                        <button type="button" class="btn btn-success" data-dismiss="modal">No</button>
                                                    </div>
                                                </div>
                                            </div>
                                        </div>
                                    </div>
                                {% endif %}
                            {% endfor %}
                            </div>
                        </div>
                    </div>
                </div>
            </div>
        </div>
{% endblock %}